.wrap {
    width: 100%;
}

.inner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

header {
    width: 100%;
    background: #fff;
    height: 7rem;
    position: fixed;
    z-index: 9999;
}

header .logo {
    position: absolute;
    background: url(../icon/logo_visvim.svg)no-repeat center center;
    width: 9.3rem;
    height: 100%;
    top: 0;
    left: 4rem;
}

header ul {
    position: absolute;
    display: flex;
    height: 100%;
    right: 0;
    top: 0;
}

header ul li {
    box-sizing: border-box;
    position: relative;
    padding-top: 3.3rem;
    padding-right: 5.5rem;
}

header ul li span {
    font-size: 1.1rem;
}

header ul li .icon1 {
    height: 18px;
    width: 18px;
    margin-right: 7px;
}

header ul li .icon2 {
    height: 16.5px;
    width: 15px;
    margin-right: 10.5px;
}

header ul li .icon3 {
    height: 18px;
    width: 14px;
    margin-right: 7.5px;
}

header ul li .icon4 {
    height: 21px;
    width: 21px;
    padding-right: 10px;

}

header ul li .icon5 {
    height: 19px;
    width: 19px;
}

/* //.header */

main {
    width: 100%;
}

/*//.main */
.main_set {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.left_text {
    width: 30%;
    height: auto;
    margin-left: 4rem;
}

.left_text div:nth-child(1) {
    border-bottom: 1px solid #707070;
}

div a p:nth-of-type(1) {
    color: #b7b7b7;
    font-size: 1.1rem;
}

div a p:nth-of-type(2) {
    color: #222222;
    font-size: 1.4rem;
}

div a p:nth-of-type(3) {
    color: #b7b7b7;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.left_text .text_box {
    padding-top: 2rem;
}

.text_box a span {
    font-size: 1.2rem;
    color: #000000;
    padding-top: 2rem;
    line-height: 1.8;
    font-weight: 100;
    display: inline-block;
    padding-bottom: 3rem;
    padding-right: 1.2rem;
}

.text_box div a {
    font-size: 1rem;
    color: #b7b7b7;
    display: inline-block;
    padding-top: 3rem;
}

.button {
    display: inline-block;
    padding: 0 5.5rem;
    padding-top: 1rem;
    height: 3.6rem;
    border: 1px solid #707070;
    font-size: 1.1rem;
    color: #222222;
    border-radius: 1.8rem;
}

.main_set .img_box {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    width: 70%;
}

.main_set .img_box .right_img video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/* //.banner */
.content1 {
    width: 100%;
    position: relative;

}

.content1 .box {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.content1 .box .text_box {
    height: auto;
    display: inline-block
}

.content1 .box .button {}

.img_box {
    margin-bottom: 10.8rem;
}

.img_box img {
    height: 30rem;
}


.button_box {
    width: 100%;
    height: 20.4rem;
    margin-bottom: 10.8rem;
    text-align: center;

}

.button_box input {
    width: 89.06667%;
    max-width: 598px;
    height: 3.8rem;
    border-radius: 1.9rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .6)inset;
    background: #fafafa;
    border: none;
}

.button_box a {
    display: inline-block;
    width: 13rem;
    height: 5.2rem;
    border: 1px solid;
    border-radius: 1.9rem;
}

/* //.contant1 */

.content2{
    position: relative;
    width: calc(100% - 40px * 2);
    height: 100%;
    margin: 0 auto;
}

.content2 .full_img a img {
    width: 100%;
    height: auto;
}

.content2 .text_box2 {
    display: inline-block;
    position: absolute;
    width: 20.3rem;
    height: 17.2rem;
    background: #fff;
    bottom: 0;
    left: 0;
    padding: 3rem 0 0 3.5rem;
}

.text_box2 .button2 {
    padding-top: 2rem;
}

.text_box2 .button2 a {
    width: auto;
    height: 3.6rem;
    display: inline-block;
    border: 1px solid #707070;
    padding: 0 5.5rem;
    border-radius: 1.8rem;
}

.text_box2 .list {
    border-bottom: 1px solid #000000;
    padding-bottom: 2rem;
}


/* .//content2 */
.slide {
    height: 100rem;
    display: flex;
    align-items: center;
}

.slide .left_img a img {width: 100%;}

.right_text {
    width: 30%;
    height: auto;}
.right_text div:nth-child(1) {
        border-bottom: 1px solid #707070;
}

/* .//slide */

.content3{
    position: relative;
    width: calc(100% - 40px * 2);
    height: 100%;
    margin: 0 auto;
}

.content3 .full_img a img {
    width: 100%;
    height: auto;
}

.content3 .text_box2 {
    display: inline-block;
    position: absolute;
    width: 20.3rem;
    height: 17.2rem;
    background: #fff;
    top: 0;
    left: 0;
    padding: 3rem 0 0 3.5rem;
}
/* .//content3 */

.content4 {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}
.content4 .img_box {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    width: 70%;
}

.content4 .img_box .right_img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* .//cotent4 */

.content5 .left_text div:nth-child(2) {
    border-bottom: 1px solid #707070;
}
/* .//cotent5 */
.content6 {
    width: 100%;
    height: 300px;
    background: #8a8989;
}

.content6 .sub {
    width: 100%;
    height: 80%;
    background: #7b7b7b;
}

.content7 {
    width: 100%;
    height: 300px;
    background: #8a8989;
}

.content7 .card {
    width: 100%;
    height: 80%;
    background: #59e0d2;
}

.content7 .button {
    text-align: right;
}

footer {
    height: 300px;
    background: #be3d3d;
}

footer .row {
    height: 50px;
    background: #602424;
}

footer .box {
    height: 250px;
    display: flex;
    justify-content: space-between;
}

footer .box .logo {
    width: 30%;
    height: auto;
    background: #3f3939;
}

footer .box .text_box {
    width: 30%;
    height: auto;
    background: #3f3939;
}