.wrap {
    width: 100%;
    min-height: 100%;
    color: #222;
    font-size: 0;
    overflow-x: hidden;
    background-color: #fff;
}

.inner {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.main_set {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0 0 0 auto;
}

.main_set .img_box {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    width: 70%;
}

.main_set .img_box .right_img video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.left_text {
    width: calc(448 / (878 + 448) * 100%);
    height: auto;
    padding-left: 3.2rem;

}

.left_text>div:nth-of-type(1) {
    border-bottom: 1px solid #707070;
}

div a p:nth-of-type(1) {
    color: #b7b7b7;
    font-size: 1.1rem;
}

div a p:nth-of-type(2) {
    color: #222222;
    font-size: 1.4rem;
}

div a p:nth-of-type(3) {
    color: #b7b7b7;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.left_text .text_box {
    padding-top: 2rem;
}

.text_box a span {
    font-size: 1.2rem;
    color: #000000;
    padding-top: 2rem;
    line-height: 1.8;
    font-weight: 100;
    display: inline-block;
    padding-bottom: 3rem;
    padding-right: 1.2rem;
}

.text_box div a {
    font-size: 1rem;
    color: #b7b7b7;
    display: inline-block;
    padding-top: 3rem;
}

.button {
    display: inline-block;
    padding: 0 5.5rem;
    padding-top: 1rem;
    height: 3.6rem;
    border: 0.99px solid #707070;
    font-size: 1.1rem;
    color: #222222;
    border-radius: 1.8rem;
    transition: all 0.5s
}

.button:hover {
    background-color: #707070;
    color: white;
}

/* //.main_set */
header {
    width: 100%;
    background: #fff;
    height: 7rem;
    position: fixed;
    z-index: 10;
    transition: box-shadow .5s;
    overflow: hidden;
}


header .logo {
    display: inline;
    position: absolute;
    background: url(../icon/logo_visvim.svg)no-repeat center center;
    width: 9.3rem;
    height: 100%;
    top: 0;
    left: 4rem;
}

header ul {
    position: absolute;
    display: flex;
    height: 100%;
    right: 4rem;
    top: 0;
    width: auto;
}

header ul li {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding-top: 3.3rem;
    padding-right: 5rem;
}


header ul li span {
    font-size: 1.1rem;
    vertical-align: top;
}

header ul li .icon1:hover {
    filter: invert(100);
    transition: all .5s;
}

header ul li .icon2:hover {
    filter: invert(100);
    transition: all .5s;
}

header ul li .icon3:hover {
    filter: invert(100);
    transition: all .5s;
}

header ul li .icon1 {
    height: 18px;
    width: 18px;
    margin-right: 7px;
}

header ul li .icon2 {
    height: 16.5px;
    width: 15px;
    margin-right: 10.5px;
}

header ul li .icon3 {
    height: 18px;
    width: 14px;
    margin-right: 7.5px;
}

header ul li.icon4 {
    padding-right: 1rem;
}

header ul li.icon4 span {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../icon/icon_3dot.svg);
    background-size: 3px 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: filter .5s;

}


header ul li.icon4.on span {
    filter: invert(100);

}

header ul li.icon4on::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9.5px 13px 9.5px;
    border-color: transparent transparent #8b8b8b transparent;
    position: absolute;
    bottom: 0;
    left: 1px;
    transition: transform .5s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

header ul li.icon4on::before {
    transform: translateY(0);
}

header ul li.icon5 {
    padding-right: 0;
    padding-top: 25px;
}

header ul li.icon5 div {
    background-color: #fff;
    width: 29px;
    height: 36px;
    box-shadow: 0 1px 5px transparent inset;
    border-radius: 18px;
    position: relative;
    overflow: hidden;
    transition: background-color .5s, width .5s, box-shadow .5s;
}

header ul li.icon5 div img {
    width: 19px;
    height: 19px;
    position: absolute;
    left: 10px;
    top: 8px;
    cursor: pointer;
}

header ul li.icon5 div input[type=text] {
    font-size: 14px;
    border: none;
    position: absolute;
    background-color: inherit;
    position: absolute;
    top: 18px;
    left: 41px;
    width: calc(100% - 41px - 1em);
    transform: translateY(-50%);
    color: #222;
}

header ul li.icon5on div {
    background-color: #fafafa;
    width: 230px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .06) inset;
}



.header_content {
    display: flex;
    background-color: #8b8b8b;
    z-index: 11;
    width: 100%;
    padding: 40px 164px 32px 118px;
    justify-content: space-between;
    position: fixed;
    top: 70px;
    right: 0;
    height: auto;
    transition: all .5s;
}

.header_content .header_content_l {
    font-size: 11px;
    color: #b7b7b7;
    order: 1;
}

.header_content .header_content_l p {
    padding-bottom: 10px;
}

.header_content_l p a img:hover {
    filter: invert(100);
    transition: all .5s;
}

.header_content_r a:hover {
    filter: invert(100);
    transition: all .5s;
}


.header_content .header_content_l p:nth-of-type(2n) {
    padding-bottom: 30px;
}

.header_content .header_content_l p:nth-of-type(2n) a {
    display: inline-block;
    padding-right: 19px;
}

.header_content .header_content_l p:nth-of-type(2) a:nth-of-type(2) {
    margin-right: 0;
}

.header_content .header_content_l p:nth-of-type(4) {
    padding-bottom: 0;
}

.header_content .header_content_l p:nth-of-type(4) img {
    width: 95px;
    height: 30px;
}


.header_content .header_content_r {
    display: flex;
    flex-wrap: wrap;
    order: 3;
}

.header_content .header_content_r div {
    font-size: 1.2rem;
    color: #fff;
}

.header_content_r div p {
    padding-bottom: 24px;
}

.header_content .header_content_r div a {
    color: #fff;
    font-size: 1.2rem;
}

.header_content .header_content_r table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header_content .header_content_r1 {
    padding-right: 103px;
}

.header_content .header_content_r2 {
    padding-right: 65px;
}

.header_content .header_content_r table th {
    text-align: left;
    vertical-align: top;
    width: 88px;
}

.header_content .header_content_r table td {
    text-align: left;
    vertical-align: top;
    padding-left: 15px;
    border-left: 0.99px solid rgba(255, 255, 255, .3);
}

.header_content .header_content_r table td p {
    display: inline-block;
    width: 100%;
}

.header_content .header_content_r td p:last-of-type {
    padding-bottom: 0;
}

.header_content .header_content_r table:last-of-type {
    margin-top: 24px;
}

/* //.header */








/* //.header contents */
.banner {
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-bottom: 1.5rem;
}

.banner .img_box {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 45%;
    width: calc(878 / (878 + 448) * 100%);
    object-position: center;
    object-fit: cover;


}

.banner .img_box .right_img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* //.banner */

.content1 {
    width: calc(100% - 40px);
    position: relative;

}

.content1 .box {
    height: auto;
    display: flex;
    justify-content: space-between;
}

.content1 .box .text_box {
    height: auto;
    display: inline-block
}


.content1 .img_box {
    margin-bottom: 10.8rem;
    display: inline-flex;
}

.content1 .img_box img {
    height: 30rem;
}


.button_box {
    width: 100%;
    height: 20.4rem;
    margin-bottom: 10.8rem;
    text-align: center;

}


.button_box input {
    width: 89.06667%;
    max-width: 598px;
    height: 5.2rem;
    border-radius: 2.6rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6)inset;
    background: #fafafa;
    border: none;
    outline: none;
    margin-bottom: 2.6rem;
}

.button_box_in a {
    width: 13rem;
    height: 5.2rem;
    border-radius: 26px;
    display: inline-block;
    margin: 0 6px 30px;
    background-color: #fff;
    padding-top: 26px;
    border: 0.99px #b7b7b7 solid;
    padding: 0.8%;
}

.button_box_in a img {
    vertical-align: -webkit-baseline-middle;
}

.button_box_in a:nth-child(1) img {
    width: 5.344rem;
    height: 1.201rem;
}

.button_box_in a:nth-child(2) img {
    width: 4.394rem;
    height: 1.588rem;
}

.button_box_in a:nth-child(3) img {
    width: 5.483rem;
    height: 25px;
}

.button_box_in a:nth-child(4) img {
    width: 3rem;
    height: 3.2rem;
}

.button_box_in a:nth-child(5) img {
    width: 7.1rem;
    height: 1.6rem;
}

.button_box div button {
    font-size: 10px;
    color: #707070;
    height: 34px;
    padding: 0 20px;
    border-radius: 17px;
    margin: 0 5px 10px;
    vertical-align: middle;
    background-color: #fafafa;
    border: 0.99px #e5e5e5 solid;
    transition: all 0.5s;
}

.button_box div button:hover {
    background-color: #707070;
    color: white;
}


/* //.contant1 */

.content2 {
    position: relative;
    width: calc(100% - 40px * 2);
    height: 100%;
    margin: 0 auto;
}

.content2 .full_img {
    margin-bottom: 15rem;
    height: auto;
}

.content2 .full_img a img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

.content2 .text_box2 {
    display: inline-block;
    position: absolute;
    width: 20.3rem;
    height: 17.2rem;
    background: #fff;
    bottom: 0;
    left: 0;
    padding: 3rem 0 0 3.5rem;
}

.text_box2 div:last-child {
    padding-top: 2rem;
}

.text_box2 .button {
    width: auto;
    height: 3.6rem;
    display: inline-block;
    border: 1px solid #707070;
    padding: 0 5.5rem;
    border-radius: 1.8rem;
    line-height: 3.6rem;
}

.text_box2 .list {
    border-bottom: 1px solid #000000;
    padding-bottom: 2rem;
}


/* .//content2 */
.slide {
    margin-bottom: 15rem;
    background: #fafafa;

}

.slide .max {
    padding: 150px calc(40px + 32px) 60px;
    max-width: 1490px;
    align-items: center;
    display: flex;
    width: 100%;


}

.slide .left_img {
    width: 66%;
}

.slide.right_text {
    width: 34%;
}

.right_text div:nth-child(1) {
    border-bottom: 1px solid #707070;
}

/* .//slide */

.content3 {
    position: relative;
    width: calc(100% - 40px * 2);
    height: 100%;
    margin: 0 auto;
    margin-bottom: 15rem;

}

.content3 .full_img a img {
    width: 100%;
    height: auto;
}

.content3 .text_box2 {
    display: inline-block;
    position: absolute;
    width: 20.3rem;
    height: 17.2rem;
    background: #fff;
    bottom: 0;
    left: 0;
    padding: 3rem 0 0 3.5rem;
}

/* .//content3 */

.content4 {
    margin-bottom: 15rem;
}

/* .//cotent4 */

.content5 {
    margin-bottom: 15rem;
}

/* .//cotent5 */
.content6 {
    width: 100%;
}

.content6 .sub {
    background: url(../img/background.jpg)center center no-repeat;
    background-size: cover;
    width: 100%;
}

.sub h2 {
    text-align: center;
}

.sub span {
    color: #fff;
    box-sizing: border-box;
}

/* //.content6 */

.content7 {
    width: calc(100% - (40px + 32px) * 2);
    margin: 0 auto 15rem;
}

.content7 .card {
    display: flex;
    justify-content: center;
}


.card div {
    width: 100%;
    height: 100%;
}






footer {
    position: relative;
}

footer .row {
    width: 100%;
    height: 118px;
    z-index: 1;
    position: relative;
}

footer .row::before {
    content: "";
    display: inline-block;
    width: calc(100% - 40px - 32px);
    height: 100%;
    background-color: #222;
    z-index: 0;
    top: 0;
    right: 0;
    position: absolute;
}

footer .row p {
    z-index: 1;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.footer_content {
    z-index: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 165px 164px 160px 118px;
    background-color: #8b8b8b;
    margin-top: -59px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}